<h3> Account email: <%= @user.email %></h3>

<% @user.roles.each do |role| %>
 Role: <%= role.name %>
<% end %> <br/>

<% @roles_array.each do |user_role| %>
  <%= link_to assign_user_role_path(role: user_role), method: :post, :class => 'btn btn-primary btn-xs mb-4' do %>
    Make <%= user_role %>
  <% end %>
<% end %>

<h4> Created at:</h4>
<h5> <%= @user.created_at %></h5>
<h4> Last update</h4>
<h5> <%= @user.updated_at %></h5>

<%= link_to 'Back', users_path, :class => 'btn btn-primary btn-xs mb-4' %>
