
<div>
<%=  link_to 'Admin View', { controller: "users", action: :index} ,class: "btn btn-primary", id: "admin-view"  if policy(@posts).show? %>
</div>

<h1>Posts</h1>

<div>
  <%= link_to 'All Posts', posts_path %>
  <%= form_tag posts_path ,method: :get do %>
    <% text_field_tag :q, nil ,placeholder: 'Search posts'%>
  <% end %>
</div>

<%= link_to 'Categories', categories_path %>

<br/>
<hr/>
<br/>

<br/>
<hr/>
<br/>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr id="table">
        <td><%= post.title %></td>
        <td><%= image_tag post.image_url :thumb if post.image? %> </td>
        <td> <%= post.category.name %> </td>
        <td> <% if post.comments.size == 0 %>
             No comments
          <% else %>
             comments: <%= post.comments.size %>
          <% end %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) if policy(post).edit? %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy?%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path,class: "btn btn-primary", id: "admin-view" %>
