
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Category:</strong>
  <% if @post.category %>
    <%= link_to @post.category.name, @post.category %>
  <% else %>
  <%= " This post doesn't belong to any category. "%>
  <% end %>
</p>
<p>
<strong>Subcategories:</strong>
  <% @post.subcategories.each do |sub| %>
    <%= link_to sub.name, sub %>
  <% end %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @post.image_url if @post.image? %>
</p>
<% if @comments.size == 0 %>
   No comments
  <% else %>
<%= @comments.size %>  Comments:
  <% end %>
<% @comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.commenter %>
  </p>
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
<% end %>

<h3> Add a comment:</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field" >
    <%= f.label :commenter %><br/>
    <%= f.text_field :commenter %>
  </div>
  <div class="field" >
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
