<%= form_with(model: insta_item, local: true) do |form| %>
  <% if insta_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insta_item.errors.count, "error") %> prohibited this insta_item from being saved:</h2>

      <ul>
      <% insta_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :media_url %>
    <%= form.text_field :media_url %>
  </div>

  <div class="field">
    <%= form.label :permalink %>
    <%= form.text_field :permalink %>
  </div>

  <div class="field">
    <%= form.label :extra_id %>
    <%= form.text_field :extra_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
