  <p id="notice"><%= notice %></p>

  <ul class="">

    <button class="<%= 'active' if params[:tab].blank? or params[:tab] == "all" %>">
      <a data-toggle="tab" href="#all" role="tab" ><strong>all</strong> </a>
    </button>

    <button class=" <%= 'active' if params[:tab] == "videos"%>">
      <a data-toggle="tab" href="#videos" role="tab"><strong>videos</strong> </a>
    </button>

    <button class=" <%= 'active' if params[:tab] == "images"%>">
      <a data-toggle="tab" href="#images" role="tab"><strong>images</strong> </a>
    </button>

  </ul>


  <div class="tab-content" >
    <div class="tab-pane  <%= 'active' if params[:tab].blank? or params[:tab] == "all" %>" role="tabpanel" id="all" name="all">
      <%= render 'index', :images => @insta_items %>
    </div>

    <div class="tab-pane <%= 'active' if params[:tab] == "images" %>" role="tabpanel" id="images" name="images" >
      <%= render 'index', :images => @insta_images %>
    </div>

    <div class="tab-pane <%= 'active' if params[:tab] == "videos" %>" role="tabpanel" id="videos" name="videos" >
      <%= render 'index', :images => @insta_videos %>
    </div>
  </div>