<p id="notice"><%= notice %></p>

<p>
  <strong>Media url:</strong>
  <%= @insta_item.media_url %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @insta_item.permalink %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @insta_item.extra_id %>
</p>

<%= link_to 'Edit', edit_insta_item_path(@insta_item) %> |
<%= link_to 'Back', insta_items_path %>
