<!doctype html>
<html lang="en">

<html>
  <head>
    <title>ImageUploader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  </head>

  <body>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  <div class="container">
    <div class="col">
      <div class="row">
        <%= render partial: "shared/login_form" %>
        <%= render partial: "shared/nav-bar" %><br/>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>

  <% if Rails.env.development? || Rails.env.staging? %>
  <% console %>
<% end %>
</html>
